*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background: blue;
    display: flex;
}

.memory-game{
    /* border: 2px solid lime; */
    width: 640px;
    height: 640px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    perspective: 1000px;
}
.memory-card{
    transform-style: preserve-3d;
    /* border: 2px solid aqua; */
    width: calc(25% - 10px);
    margin: 5px;
    height: calc(33.333% - 10px);
    position: relative;
    transform: scale(1);
    transition: transform .5s;
}

.memory-card:active{
    transform: scale(0.97);
    /* transition: transform .1s ease; */
}

.winner-message{
    z-index: 3;
    position:absolute;
    background-color: coral;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    display: none;
    
}

#blurred{
    display: none;
    z-index: 2;
    background-color: currentColor;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
}

.front-face,.back-face{
    position: absolute;
    /* border: 2px solid deeppink; */
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    backface-visibility: hidden;

    background-color: deepskyblue;
}
.front-face{
    transform: rotateY(180deg);
}

.memory-card.flip{
    transform: rotateY(180deg);
}